<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>zapexport</name>
	<displayName><![CDATA[Zap export]]></displayName>
	<version><![CDATA[1.0.2]]></version>
	<description><![CDATA[XML Export for Zap price comparison]]></description>
	<author><![CDATA[Yaniv Mirel]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>